.searcher {
    grid-column: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #FFFFFF;
    padding-right: 0.5rem;
    &__input {
        border: none;
        outline: none;
    }
}