.flexContainer {
    width:100%;
    display: grid;
    grid-template-columns: 1fr;
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 1rem;
    background-color: #090C0E;
}